<table style='width:100%'>
  <tr>
    <th>#</th>
    <th></th>
    <th>Task</th>
    <th>Status</th>
    <th>Start - End</th>
    <th>Resource</th>
    <th>Baseline</th>
    <th>EAC</th>
    <th>Hours(plan/curr/%)</th>
    <th>Performance</th>

  </tr>
  <% tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td style="text-align:center;width:20px"> <%= link_to(image_tag("task-button.png", :border=>0), task_baselines_path(task))   %></td>
        <td> <%= link_to task.name, task_baselines_path(task)%></td>
        <td><%= task.status  %></td>
        <td><%= short_date(task.start) %> - <%= short_date(task.stop) %></td>
        <td><%= link_to task.ressource.name, project_ressource_path(task.project,task.ressource) %></td>
        <td><%= c_short(task.cost(:baseline,:eac)) %></td>
        <td><%= c_short(task.cost(:estimation,:eac))%> </td>
        <td><%= "#{task.planned_work_hours} / #{task.current_work_hours} / #{task.per_complete}" %></td>
        <td>
        <% if (not task.baseline.nil? and not task.estimation.nil?)%>
          <%= render :partial => 'sparklines/sparkline', :locals => { :task =>task } %>
        <%end%>
        </td>

      </tr>
  <% end %>
</table>
