<% title "Reports" %>

<table>
  <tr>
    <th>Name</th>
    <th>Pm</th>
    <th></th>    
  </tr>
  <% for report in @reports %>
    <tr>
      <td><%=h report.name %></td>
      <td><%=h report.pm_id %></td>
      <td><%= link_to "DESIGN", design_report_path(report) %>
      <%= link_to "Change Name", edit_design_report_path(report) %>
      <%= link_to "Delete", design_report_path(report), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Report", new_design_report_path %></p>
