<%= javascript_include_tag :defaults %>

<% title("Project: '#{@project.name}'")  %>

<%= menu_bar do |mb|
        mb.menu_line("Maintain Resources", project_ressources_path(@project)) if @project.ressources.count>0
        mb.menu_line("Create Resources", new_project_ressource_path(@project)) if @project.ressources.count==0
        mb.menu_line("Create Task", new_project_task_path(@project))
        mb.menu_line "Reporting", project_reports_path(@project)
end%>


<% info_box ('projects/info_box_project') %>

  <%= header "Task Summary" %>

<%= render :partial => "tasks/list", :locals => { :tasks =>@project.tasks } unless @project.tasks.blank?%>

  <%= header "Budget Summary" %>

<div id='budget_groups'>
    <%= render :partial => "reports/update_report", :locals => {:report => @report, :project => @project} %>
</div>


