  <%= javascript_include_tag :defaults %>
<% title "Organization" %>

<p>
  <strong>Name:</strong>
  <%=h @organization.name %>
</p>

<p>
  <%= link_to "Edit", edit_organization_path(@organization) %> |
  <%= link_to "View All", organizations_path %>
  <%= button_to "Delete", @organization, :confirm => 'Are you sure?', :method => :delete %> |
</p>
