<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <link rel="shortcut icon" href="/favicon.ico" />
  <title><%= h(yield(:title) || "TRACKER: Project Tracking and Cost Management") %></title>

  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
  <%= javascript_include_tag 'jquery' %>
  <%= stylesheet_link_tag 'calendar' %>
  <%= javascript_include_tag 'calendar' %>

  <%= yield(:head) %>

  <%= javascript_tag do %>
      <%= yield(:jstemplates) %>
  <% end -%>


  <% if Rails.env.development? then %>
      <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-16848313-2']);
          _gaq.push(['_trackPageview']);

          (function() {
              var ga = document.createElement('script');
              ga.type = 'text/javascript';
              ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(ga, s);
          })();

      </script>
  <% end %>

</head>
<body>


<div id="container">

  <div id="header">

  </div>


  <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>


  <div id="menu_wrapper" class="blue">


    <div id="left"></div>
    <ul id="menu">

      <% if current_user %>
          <% if is_admin? %>
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Projects", projects_path %></li>
              <li><%= link_to "Organization", organizations_path %></li>
          <% end %>
          <li><%= link_to "Projects", projects_path if current_user.is_pm? %></li>
          <li><%= link_to "Team", users_path if current_user.is_pm? %></li>
          <li><%= link_to "My Estimates", baseline_requests_path %></li>
      <% end %>

      <% if current_user %>
          <li><%= link_to "My Profile", edit_user_path(current_user.id) %></li>
      <% else %>
          <li><%= link_to "Register", new_user_path %>|<%= link_to "Login", login_path %></li>
      <% end %>

      <li style="float:right">
        <% if current_user %>
        <%= link_to "LOGOUT #{current_user.username}", logout_path  -%>
         <%else%>
        <%= link_to "LOGOUT", logout_path  -%>
            </li>
      <% end %>

    </ul>


  </div>


  <!--
  <% if current_user %>
      <div id="important">
        <% if controller.controller_name.include?('request') then %>
            Estimation Requested:
        <% else %>
            Project Manager:
        <% end %>
        <%= "  Controller: #{controller.controller_name}" %>
      </div>
  <% end %>
-->
  <br/>
<%- if current_user and is_pm? and current_user.estimation_pending? and not controller.controller_name.include?('request')then %>
      <div id="notifier">You have an estimate assigned to you, click <%= link_to "[Estimate]", baseline_requests_path %> to do the estimation! </div>
<%end%>

  <%- if show_title? -%>
      <div id='show_field_title'><%= yield(:title) %></div>
  <%- end -%>

      <%= yield(:menue) %>
  <br/>

  <%= yield %>
  <br/>

  <%= yield(:info_box) %>

</div>

</body>
</html>


